@import "../../styles/colors";

.optionsBarContainer {
  display: flex;
  flex-flow: row wrap;
  background-color: $gray200;
}

@media only screen and (max-width: 425px) {
  .optionsBarContainer {
    flex-flow: column wrap;
  }
}
