.optionContainer {
  flex: 1;
  display: flex;
  min-width: 10vw;
  margin: 2.5vh;
  align-items: center;
  justify-content: center;
}

.select {
  padding: 1vh 1vw;
  font-size: 16px;
}

@media only screen and (max-width: 425px) {
  .optionContainer {
    margin: 1vh 0 1vh 3vw;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .optionContainer {
    max-width: 20%;
  }

  .select {
    padding: 1vh 1vw;
    font-size: 16px;
  }
}
