@import "../../styles/colors";

.container {
  flex: 1;
  display: flex;
}

.headerContainer {
  background-color: $primary-color;
  flex-direction: column;
  display: flex;
  flex: 1;
  max-height: 15vh;
}

.headerRowContainer {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5% 0;
}

.imgContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
}

.img {
  height: 50px;
  width: auto;
}

.titleContainer {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.title {
  color: $gray50;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  margin: 0;
}
