@import "../../styles/colors";

.container {
  flex: 1;
  display: flex;
}

.headerContainer {
  background-color: $header-color;
  flex-direction: column;
  display: flex;
  flex: 1;
  max-height: 20vh;
}

.headerRowContainer {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5% 0;
}

.imgContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
}

.img {
  height: 50px;
  width: auto;
}

.titleContainer {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.title {
  color: $gray50;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    flex: 1;
    background-color: $header-color;
    flex-direction: column;
    display: flex;
    max-height: 20vh;
  }
  .img {
    height: 40px;
    width: auto;
  }
  .title {
    color: $gray50;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    margin: 0;
  }
  .headerRowContainer {
    flex: 1;
    margin: 1% 0;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 968px) {
}

@media only screen and (min-width: 1440px) {
  .headerContainer {
    max-height: 15vh;
  }
}