@import '../../styles/colors.scss';

.footerContainer {
    padding: 2vh 0;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    max-height: 5vh;
    align-items: center;
    justify-content: flex-end;
    background-color: $gray50;
}

.footer {
    align-content: center;
}